#close-modal {
    border: 1px solid red;
    color: red;
    margin-left: 20px;
}

#close-modal:hover {
    background-color: rgb(252, 0, 0);
    color: white;
}

.close {
    font-size: 25px;
    border: none;
    background-color: #fff;
    position: absolute;
    left: 95%;
    top: 7px;
}

.close:hover {
    background-color: red;
    border-radius: 50%;
    transition: 1s;
}


.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    /* width: 300px; */
}

.card-body-after-save-card{
    /* background-color: blue; */
    border: 1px solid #029fee;
    border-radius: 5px;
    width: 300px;
    /* margin: 5px; */
    
}

.col2{
    background-color: aquamarine;
}

#record-card{
    /* width: 300px; */
    background-color:    #cee9f7;
    border: none;
}


.neumorphism{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  35px 35px 70px #d9d9d9,
                 -35px -35px 70px #ffffff;
    padding: 50px;
}